@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Inter', sans-serif;
}

.li-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15.767px;
    line-height: 18px;
    color: #53686A;
    cursor:pointer;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.3544px 13.2379px;
    gap: 5.88px;
    background: #185A71;
    box-shadow: 0px 0.73544px 1.47088px rgba(16, 24, 40, 0.05);
    border-radius: 5.88352px;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8.82528px 11.767px;
    gap: 5.88px;

    width: 235.34px;
    height: 35.65px;

    /* White */

    background: #FFFFFF;
    box-shadow: 0px 0.73544px 1.47088px rgba(16, 24, 40, 0.05);
    border-radius: 5.88352px;
    color:#0B303E;

}

.footer1{
    border-radius: 10.5363px;
}


.footertext2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #F2F2F2;
}

.btn-footer{
    background: #194C60;
    border: 0.859608px solid #FFFFFF;
    border-radius: 5.26817px;
}

.support-bottom{
    border-bottom: 1px solid #53686A;
}